.course-card {
    background: var(--soft-orange);
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.25s;
}

.course-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 7px 16px rgba(0,0,0,0.2);
}

.course-thumb {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
    background: #ddd;
}

.tag-badge {
    background: rgba(0,0,0,0.15);
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 4px;
    font-weight: 600;
}

.course-actions i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.course-type {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: bold;
}

.assignment {
    background: #ffb3b3;
}

.course {
    background: #b3ffb3;
}
