.profile-card {
    background: var(--soft-orange);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 4px solid #000;
    object-fit: cover;
}

.certificate-thumb {
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.settings-card {
    background: var(--soft-orange);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
