.task-card {
    background: var(--soft-orange);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background: #ddd;
    color: #000;
    font-weight: 600;
}

.tag.selected {
    outline: 2px solid #000;
}


.task-item {
    background: var(--soft-orange);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.badge-tag {
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
    font-weight: 600;
}

.task-actions i {
    font-size: 20px;
    margin-left: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.task-actions i:hover {
    transform: scale(1.2);
}
